<article
  class="px-10 flex flex-col items-center justify-center gap-8 text-gray-500 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-customHoverColor[&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Desde 1984, la Cooperativa de Agua de las Sierras Chicas en Córdoba se dedica a proveer agua potable a la comunidad mediante una solución solidaria. Nos encargamos de administrar, mantener, planificar y reparar las redes de distribución de agua hasta el ingreso a los domicilios de nuestros asociados. Para asegurar un suministro equitativo y seguro, también operamos camiones cisterna que transportan agua potable a zonas donde no llegan las redes. Esta iniciativa refleja nuestro compromiso con el bienestar de la comunidad y nuestra capacidad de adaptarnos a sus necesidades cambiantes.
    </p>
  </div>
  <img
    width="200"
    height="200"
    src="https://laletrachica.com.ar/uploads/noticias/5/2024/04/20240430102146_whatsapp-image-2024-04-30-at-10-20-54.jpg"
    alt="Triodev"
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
