<div
    class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800"
>
    <figure
        class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700"
    >
        <blockquote
            class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
        >
            <h3 class="text-lg font-bold text-gray-900 dark:text-white">
                Solicitud de servicio de agua
            </h3>
            <p class="my-4">
                Inscripción de nuevos usuarios para obtener el servicio de
                suministro de agua.
            </p>
        </blockquote>
        <button
            type="submit"
            class="bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-gray-900 hover:font-bold"
            >Conocer más</button
        >
    </figure>
    <figure
        class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700"
    >
        <blockquote
            class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
        >
            <h3 class="text-lg font-bold text-gray-900 dark:text-white">
                Cambio de titularidad
            </h3>
            <p class="my-4">
                Modificación del nombre del titular de la cuenta del servicio de agua, usualmente por venta de propiedad, herencia, o cambio de inquilino.
            </p>
        </blockquote>
        <button
            type="submit"
            class="bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-gray-900 hover:font-bold"
            >Conocer más</button
        >
    </figure>
    <figure
        class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-e dark:bg-gray-800 dark:border-gray-700"
    >
        <blockquote
            class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
        >
            <h3 class="text-lg font-bold text-gray-900 dark:text-white">
                Reclamos y quejas
            </h3>
            <p class="my-4">
                Presentación de reclamos relacionados con problemas en el suministro, facturación incorrecta, fugas, o cualquier otro inconveniente.
            </p>
        </blockquote>
        <button
            type="submit"
            class="bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-gray-900 hover:font-bold"
            >Conocer más</button
        >
    </figure>
    <figure
        class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700"
    >
        <blockquote
            class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
        >
            <h3 class="text-lg font-bold text-gray-900 dark:text-white">
                Consulta de consumo
            </h3>
            <p class="my-4">
                Solicitud de información sobre el historial de consumo de agua.
            </p>
        </blockquote>
        <button
            type="submit"
            class="bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-gray-900 hover:font-bold"
            >Conocer más</button
        >
    </figure>
    <figure
    class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700"
>
    <blockquote
        class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
    >
        <h3 class="text-lg font-bold text-gray-900 dark:text-white">
            Solicitud de mantenimiento
        </h3>
        <p class="my-4">
            Pedidos de revisión, reparación o mantenimiento de la infraestructura de agua (tuberías, medidores, etc.).
        </p>
    </blockquote>
    <button
        type="submit"
        class="bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-gray-900 hover:font-bold"
        >Conocer más</button
    >
</figure>
<figure
    class="flex flex-col items-center justify-center p-8 text-center bg-white border-gray-200 rounded-b-lg md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700"
>
    <blockquote
        class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
    >
        <h3 class="text-lg font-bold text-gray-900 dark:text-white">
            Certificados y constancias
        </h3>
        <p class="my-4">
            Emisión de certificados de no deuda, constancias de servicio, entre otros documentos requeridos por los usuarios.
        </p>
    </blockquote>
    <button
        type="submit"
        class="bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-gray-900 hover:font-bold"
        >Conocer más</button
    >
</figure>
    
</div>
